{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings for: {{ category }}</h2>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% for l in listings %}
        {% if l.is_active %}
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content border border-secondary">
                        <div class="row">
                            <div class="col s12 m6 card-image">
                                <img width="900" height="auto" class="border border-secondary img-fluid" src="{{ l.image_url }}">
                            </div>
                            <div class="col s12 m6">
                                <br/>
                                <h5 class="card-title">{{ l.title }}</h5>
                                <p><b>Initial Price</b>: ${{ l.start_price }}</p>
                                <p><b>Current Price</b>: ${{ l.current_price }}</p>
                                <p><b>Description</b>: {{ l.description }}</p>
                                
                                <form action="{% url 'listing' listing_id=l.id %}">
                                    <input type="submit" class="btn btn-secondary" value="Details" />
                                    <small><span class="border border-secondary">Posted on {{ l.creation_date }} by {{ l.user }}</span></small>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}