{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <span class="badge badge-primary w-100"><h1>Magic Auctions</h1>
        </span>
        <br/>
        <br/>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'categories' %}">Categories</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'watchlist' %}">
                        Watchlist {% if watchlist %} <span class="badge badge-primary">{{ watchlist.count }}</span> {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'add' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
            <span class="badge badge-primary d-inline-flex align-items-center">
                {% if user.is_authenticated %}
                    Signed in as &nbsp;<strong>{{ user.username }}</strong>
                {% else %}
                    Not signed in
                {% endif %}
            </span>
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
